/* App.css */

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.transactions-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #ffffff;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.controls select,
.controls input {
  margin: 0 10px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #e0e0e0;
}

.search-input {
  width: 200px;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  color: #ffffff;
}

button {
  background-color: #007bff;
  color: rgb(208, 17, 17);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Add styles for the table and charts */
.table-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-container th,
.table-container td {
  padding: 12px;
  border: 1px solid #555;
  text-align: left;
}

.table-container th {
  background-color: #333;
  color: #e0e0e0;
}

.table-container tr:nth-child(even) {
  background-color: #292929;
}
